* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color:beige;
}

html{
    font-size: 75%;
}
.header{
    text-transform: capitalize;
    background-image: linear-gradient(45deg, rgba(210, 180, 140, 0.411), rgba(110, 38, 4, 0.548)),
    url(../img/unsplash-bonus.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    width: 95vw;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: whitesmoke;
    font-size: 3rem;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 2rem 2rem;
}
nav ul li a {
    color: snow;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
nav ul li a:hover {
    color: rgb(139, 64, 9);
    transition: .4s;
}
button.some{
    border: none;
    border-radius: 2rem;
    padding: 12px, 30px;
    font-size: 3rem;
    color: chocolate;
    background-color: wheat;
    transition: all .4s;

}
button.some:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all .4s;
}
button.some:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
    background-color: cornsilk;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .4s;
}
.welcome {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-style: italic;
    font-weight: bold;
    color: wheat;
    letter-spacing: 2rem;
    animation: welcome 2s;
}

@keyframes welcome {
    0% {
        opacity: 0;
        
    }
    20%{
        opacity: .2;
    


    }
    40%{
        opacity: .4;
        top: 50%;
    

    }
    60%{
        opacity: .6;
        


    }
    80%{
        opacity: .8;
        


    }
    100%{
        opacity:1;


    }
}

button.res{
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-style: dotted ;
    border-color:  white;
    border-radius: 2rem;
    padding: .5rem;
    color: snow;
    background-color: transparent;
    font-size: 2rem;
    text-transform: capitalize;

}
button.res:hover {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(78, 72, 72, 0.418);
    transition: .4s;
    border-radius: 3rem;
    

}