* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: olivedrab;
}
html {
    font-size: 75%;
}
header{
    background-image: linear-gradient(45deg, rgba(106, 142, 35, 0.527), rgba(128, 128, 128, 0.548)),
     url(../img/bestpetcostumes_header1140.webp);
    height: 90vh;
    width: 100%;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    text-transform: capitalize;
}
nav ul li{
display: inline-block;
padding-top: 2rem;

}